.journal-hero-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  height: 100%;
}

.journal-left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  border-radius: 8px;
  padding: 2%;
}


.journal-right-column {
  flex: 2;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

.journal-title {
  font-size: 28px;
  font-weight: 600;
  color: #4a4de6; /* Blue accent for main title */
  margin-bottom: 20px;
}

.journal-subtitle, .journal-about-title, .journal-publisher-title {
  font-weight: 600;
  color: #6a5acd; /* Slightly purple-blue color */
  margin: 15px 0;
}

.journal-section-title {
  font-size: 18px;
  font-weight: 600;
  color: #6a5acd; /* Blue color for section titles */
  margin: 10px 0;
}

.journal-description {
  margin-bottom: 10px;
  line-height: 1.5;
  color: #333;
}

.journal-website-link {
  color: #007bff; /* Bright blue for links */
  text-decoration: none;
  font-weight: 500;
}

.journal-website-link:hover {
  text-decoration: underline;
  color: #6a5acd; /* Purple accent on hover */
}

@media (max-width: 768px){
  .journal-hero-container{
    flex-direction: column;
  }
}