.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 0;
  background: transparent;
  backdrop-filter: blur(10px); /* Background blur */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  position: sticky;
  top: 16px; /* Stick to the top of the viewport */
  z-index: 100; /* Ensure it stays above other elements */
}

.input {
  width: clamp(200px, 30vw, 300px);
}

.extraBtn {
  display: flex;
  align-items: center;
  gap: 5px;
}
