.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  background: transparent;
}

.input {
  /* width: 200px; */
  /* margin: 10px; */
}

.extraBtn{
    display: flex;
    align-items: center;
    gap: 5px;
}