.carousel-container {
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.5s ease-in-out;
}

.carousel-container a {
  display: block;
  text-align: center;
}
