
.accordian-container {
  cursor: pointer;
  width: 100%;
}


.accordian-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding: 8px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.accordian-header:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transform: scale(1.1);

}

.accordian-icon {
  width: 25%;
}

.accordian-name {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.accordian-name svg{
  transition: transform 0.3s ease-in;
}

.accordian-container.open .accordian-name svg{
  transform: rotate(180deg);
  transition: transform 0.3s ease-out;
}


.accordian-items-container {
  display: flex;
  justify-content: center;
  max-height: 0; 
  opacity: 0;
  overflow: hidden; 
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}

.accordian-container.open .accordian-items-container {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.accordian-items-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-top: 20px;
  margin: 0;
}

.accordian-items-container li {
  width: 100%;
  text-align: left;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 50px;
  min-height: 100vh;
  min-width: 250px;
  max-width: 250px;

  background-color: var(--primary-color);
  color: var(--text-color);

}

.sidebar-logo img {
  width: 175px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.sidebar-link {
  color: var(--text-color);
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  padding: 8px;
  justify-content: space-between;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.sidebar-link:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transform: scale(1.1);

}


.sidebar-icon {
  width: 25%
}

.sidebar-name {
  width: 75%;
  text-align: left;
}

@media (max-width: 768px) {
  .sidebar-container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: -100%;
    max-width: 400px;
    width: 60%;
    height: 100%;
    transition: left 0.5s ease-in;
  }

  .sidebar-cover{
    width: 100%;
    height: 100%;
    z-index: 99;
    position: fixed;
    background-color: rgb(0,0,0,0.5);
  }

  .sidebar-container.open {
    left: 0; 
    transition: left 0.3s ease-out;
  }

}