#navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  gap: 20px;
  background-color: var(--nav-background-color);
  background-position: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#navbar>img {
  max-width: 200px;
}

.menu-btn {
  padding: 7px;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--nav-background-color);
  display: none;
}

.menu-btn svg {
  color: white;
}

.links{
  display: flex;
  gap: 8px;
}


.signup-link {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.login-link{
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--secondary-color);
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.signup-link:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.login-link:hover{
  color: var(--primary-color);
}
#navbar>h3 {
  color: white;
  padding: 0;
  margin: 0;
}

.sidebar-logo{
  display: none;
}


@media (max-width: 768px) {
  #navbar{
    padding: 10px;
  }
  .menu-btn {
    display: inline-block;
  }

  #navbar>h3 {
    display: none;
  }

  .sidebar-logo{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  

  .sidebar-logo img{
    display: block;
    height: 25px;
  }

  .links{
    display: none;
  }
}