#navbar {
  display: flex;
  justify-content: space-between; /* keeps image and button on edges */
  align-items: center; /* centers items vertically */
  padding: 20px;
  gap: 20px;
  background-color: var(--background-color);
  background-position: center;
}

#navbar > img{
  max-width: 200px;
}

#navbar > #button {
  padding: 10px;
}

#navbar > #navbar-title {
  font-size: 1.8vw;
  flex-grow: 1; /* Allow title to grow and take up available space */
  display: flex; /* Set this to flex to center text */
  justify-content: center; /* Center the title text horizontally */
  align-items: center; /* Center the title text vertically */
  color: white;
}
