.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between the table and image */
  margin-top: 20px;
}

.table {
  width: 40%;
}

.advertisement-image {
  width: 80%;
  object-fit: contain; /* Maintain image aspect ratio */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .table, 
  .advertisement-image {
    width: 100%;
  }
}
