.hero-section {
  display: flex;
  margin-top: 80px;
}

.sidebar {
  width: min(20%,200px); /* Sidebar occupies 30% of the width */
  background-color: #007bff; /* Blue background */
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap:1.25rem;
}

.main-content {
  height: 100%;
  width: 80%; /* Main content occupies 70% of the width */
  background-color: #f0f0f0;
}

