:root {
  --primary-color: #fdfffc;
  --secondary-color: #3d39b1;
  --accent-color: #000;
  --text-color: #011627;
}

h1,
h2,
h3,
p,
a,
span {
  color: var(--text-color);
}

body,
html {
  height: 100%;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.upper-section {
  display: flex;
}

.right-section {
  flex: 1;
  min-width: 0;
}

.hero-section {
  min-height: 90vh;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .no-scroll {
    overflow: hidden;
  }
}
