:root {
  --background-color: #03045E;
  --secondary-background-color: #CAF0F8;
  --text-color: white;
  font-family: 'Times New Roman', Times, serif;
}

.upper-section{
  display: flex;
  flex:1;
}

.right-section{
  flex: 1;

}